@font-face {
    font-family: 'Determination';
    src: url('/determination.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page {
    display: flex;
    padding: 50px;
    justify-content: center;
    height: 100vh;
    background-color: white;
    font-family: 'Determination', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    grid-row-start: 2;
}
.sans{
    height: 320px;
}
.textBox {
    width: 900px;
    min-height: 200px;
    padding: 30px;
    font-size: 25px;
    background-color: black;
    border: solid white 5px;
    outline: black 5px solid ;
    color: white;
}
.textBox p::before{
    content: "* ";
}
.options{
    display: flex;
}
.input{
    font-family: 'Determination', sans-serif;
    background-color: black;
    padding: 10px 20px;
    color: white;
    font-size: 20px;

    margin: 0px 10px;
    outline: none;
}

.option, .answerButton{
    font-family: 'Determination', sans-serif;
    background-color: black;
    padding: 10px 20px;
    width: 120px;

    color: white;
    font-size: 20px;
    border: solid black 2px;
    margin: 0px 10px;
    cursor: pointer;
}
.option:hover, .answerButton:hover{
    opacity: 0.6;
}
.homeButton, .soundButton{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    outline: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
.homeButton:hover, .soundButton:hover{
    opacity: 0.6;
}
.soundButton{
    left: unset;
    right: 20px;
}
.homeButton img, .soundButton img{
    width: 50px;
    height: 50px;
}
.jumpAnimation {
    animation: jump 0.5s ease;
  }
  
  .loseAnimation {
    animation: shake 0.5s ease;
  }

  .winAnimation{
  animation: slow 0.5s linear 1.5s, fast 0.1s linear 0.5s, slow2 1s linear 1s;
  animation-iteration-count: infinite;
}

@keyframes slow {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(-360deg)
  }
}

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(-45deg)
    }
    100% {
      transform: rotate(45deg)
    }
  }
@media (max-width: 768px) {
    .homeButton, .soundButt, .homeButton img, .soundButton img{
        height: 40px;
        width: 40px;
    }
    .sans{
        height: 242px;
    }
    .textBox{
        width: 300px;
        height: unset;
        min-height:  120px;
        padding: 20px
    }
    .options{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }

    .page{
        padding: 20px
    }
}